body {
  margin: 0px;
  background-color: #27a465;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("tiles.png");
  background-color: #cccccc;
}
#main {
  width: 600px;
  margin: 50px auto;
  border-radius: 5px;
  padding: 15px 0 56px;
  text-align: center;
  background-color: #0d1238;
  box-shadow: 1px 1px 18px 4px black;
  color: lightblue;
}

.login-form {
}

.login-form h1 {
  color: #1877f2;
}
.login-form label {
  min-width: 200px;
}
.login-form div {
  margin: 5px;
}
.login-form input {
  text-align: center;
  width: 175px;
  height: 25px;
  border-radius: 5px;
  border: 1px solid grey;
  padding: 5px 10px 5px 15px;
}
.login-form button {
  margin-top: 20px;
  width: 200px;
  height: 35px;
  background-color: #1877f2;
  border-radius: 5px;
  color: white;
  border: 0px;
}
.marks-box {
  display: none;
  margin-top: 10px;
}
.marks-box label {
  color: #880899;
  font-weight: bold;
  width: 150px;
}
