body {
  margin: 0px;
  background-color: #27a465;
  font-family: Arial, Helvetica, sans-serif;
}
#main {
  width: 600px;
  height: 260px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  padding-left: 10px;
  margin-top: 100px;
  border-top: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
  padding-top: 20px;
  text-align: center;
  background-color: #f0f2f5;
}

.login-form {

}

.login-form h1 {
    color: #1877f2;
}
.login-form label {
    min-width: 200px;
}
.login-form div {
    margin:5px;

}
.login-form input {
    width: 175px;
    height: 25px;
    border-radius : 5px;
    border: 1px solid grey ;
    padding:5px 10px 5px 15px;
}
.login-form button {
    width: 200px;
    height: 35px;
    background-color: #1877f2;
    border-radius: 5px;
    color: white;
    border: 0px;
}
/* Center the loader */
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }